*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

pre {
    padding: 30px;
    background-color: #eee;
    max-width: 100%;
    word-break: break-all;
    overflow: auto;
}

#log {
    max-height: 200px;
}

.navbar .nav-brand {
    text-align: center;
    width: 100%;
}

.navbar .nav-links {
    width: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    gap: 1rem;
}

.navbar {
    display: flex;
    flex-direction: column;
}

.btn {
    all: unset;
    display: block;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #69699b;
    color: #ffffff;
}

    .btn:hover {
        border-color: #69699b;
        background-color: #ffffff;
        color: #69699b;
    }
